@functions
{
    string IsActive(string controller)
        => ViewContext.RouteData.Values["controller"]?.ToString() == controller ? "active" : "";
}
@inject IHttpContextAccessor HttpContextAccessor
<!-- Sidebar bên trái -->
<div class="sidebar d-flex flex-column pt-3">
    <nav class="nav flex-column mt-2">
        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
        {
            <a class="nav-link @(IsActive("Account"))" asp-controller="Account" asp-action="Index">
                <i class="bi bi-people-fill text-primary"></i>
                <span>Quản lý tài khoản</span>
            </a>
            <a class="nav-link @(IsActive("Customer"))" asp-controller="Customer" asp-action="Index">
                <i class="bi bi-person-lines-fill text-primary"></i>
                <span>Quản lý khách hàng</span>
            </a>
            <a class="nav-link @(IsActive("Product"))" asp-controller="Product" asp-action="Index">
                <i class="bi bi-box-seam text-primary"></i>
                <span>Quản lý sản phẩm</span>
            </a>
            <a class="nav-link @(IsActive("Category"))" asp-controller="Category" asp-action="Index">
                <i class="bi bi-tags-fill text-primary"></i>
                <span>Quản lý loại sản phẩm</span>
            </a>
            <a class="nav-link @(IsActive("Supplier"))" asp-controller="Supplier" asp-action="Index">
                <i class="bi bi-truck text-primary"></i>
                <span>Quản lý nhà cung cấp</span>
            </a>
            <a class="nav-link @(IsActive("Promotion"))" asp-controller="Promotion" asp-action="Index">
                <i class="bi bi-gift-fill text-primary"></i>
                <span>Quản lý khuyến mãi</span>
            </a>
            <a class="nav-link @(IsActive("Orders"))" asp-controller="Orders" asp-action="Index">
                <i class="bi bi-receipt-cutoff text-primary"></i>
                <span>Quản lý đơn hàng</span>
            </a>
            <a class="nav-link @(IsActive("Statistic"))" asp-controller="Statistic" asp-action="Index">
                <i class="bi bi-bar-chart-line-fill text-primary"></i>
                <span>Thống kê</span>
            </a>
        }
        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Staff")
        {
            <a class="nav-link  @(IsActive("OrderStaff"))" asp-controller="OrderStaff" asp-action="Index">
                <i class="bi bi-bar-chart-line-fill text-primary"></i> Trang bán hàng
            </a>
            <a class="nav-link @(IsActive("Customer"))" asp-controller="Customer" asp-action="Index">
                <i class="bi bi-person-lines-fill text-primary"></i>
                <span>Quản lý khách hàng</span>
            </a>
        }
    </nav>
</div>
