@using StoreManagement.Models.Entities
@model StoreManagement.Models.ViewModel.User.UserPageViewModel

@{
    ViewData["Title"] = "Quản lý Tài khoản";
}

<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold">Quản lý Tài khoản</h3>   
    </div>
    <!-- Thanh lọc -->
    <div class="d-flex justify-content-between align-items-start mb-3 flex-wrap gap-2">
        <!-- Thanh lọc bên trái -->
        <div class="d-flex flex-wrap gap-2 align-items-center flex-grow-1">
            <!-- Lọc theo vai trò -->
            <select id="roleFilter" class="form-select form-select-sm" style="width: 150px;">
                <option value="">Tất cả vai trò</option>

                @foreach (var r in Enum.GetValues(typeof(Role)))
                {
                    <option value="@r" selected="@(Model.Role == (Role)r ? "selected" : null)">
                        @r
                    </option>
                }
            </select>
            <!-- Ô tìm kiếm -->
            <div class="input-group input-group-sm" style="width: 300px;">
                <input type="text" class="form-control" placeholder="Nhập họ tên, tên đăng nhập" id="searchInput">
                <button class="btn btn-primary btn-search" type="button" id="searchBtn">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <!-- Nút Thêm mới bên phải -->
        <button class="btn btn-primary btn-sm btn-add" data-bs-toggle="modal" data-bs-target="#userModal">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </button>
    </div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead class="table-light thead-separator ">
                    <tr class="text-center">
                        <th style="width:100px;">ID</th>
                        <th>Tên đăng nhập</th>
                        <th>Họ tên</th>
                        <th>Vai trò</th>
                        <th style="width:150px;">Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="accountTableBody">
                    @if (Model.Users != null & Model.Users.Any())
                    {
                        foreach (var item in Model.Users)
                        {
                            var
                            roleBackgroundColor = item.Role.ToString() == "Admin" ? "#0d6efd1a" : "#ffc1071a";
                            
                            var roleTextColor = item.Role.ToString() == "Admin" ? "#0d6efd" : "#ffc107";
                            
                            <tr class="text-center">
                                <td class="text-center">@item.UserId</td>
                                <td>@item.Username</td>
                                <td>@item.FullName</td>
                                <td>
                                    <span 
                                        class="badge rounded-pill px-3 py-2 fw-semibold"
                                        style="background-color:@roleBackgroundColor; color:@roleTextColor; border:1px solid @roleTextColor;">
                                        @item.Role.ToString()
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button 
                                        class="btn btn-sm btn-light border me-1 btn-edit" 
                                        data-id=@item.UserId
                                        title="Sửa" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#userModal">
                                        <i class="bi bi-pencil text-success"></i>
                                    </button>
                                    <button 
                                        class="btn btn-sm btn-light border btn-delete" 
                                        title="Xóa"
                                        data-id=@item.UserId
                                        >
                                        <i class="bi bi-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Không có dữ liệu.</td>
                        </tr>
                    }
                    
                    </tbody>
                </table>
            </div>
            <!-- Phân trang-->
            <div id="paginationContainer">
                @await Html.PartialAsync("Pagination", (object)Model)
            </div>
        </div>
    </div>
</div>

<!-- Modal dùng chung -->
<div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
      
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="userModalTitle">Quản lý người dùng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <!-- Body -->
            <div class="modal-body">
                <form id="userForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="userId" name="userId" value="0" />
                    
                    <div class="mb-3">
                        <label class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="fullname">
                        <small id="fullname-msg" class="form-text text-danger">Họ tên không để trống</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="username">
                        <small id="username-msg" class="form-text text-danger">Username không để trống</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Quyền</label>
                        <select class="form-select" id="role">
                            <option value="admin">Admin</option>
                            <option value="staff">Staff</option>
                        </select>
                        <small id="role-msg" class="form-text text-danger">Quyền không để trống</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="password">
                        <small id="password-msg" class="form-text text-danger">Mật khẩu không để trống</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="confirm">
                        <small id="password-confirm-msg" class="form-text text-danger">Mật khẩu không để trống</small>
                    </div>
                </form>
            </div>
      
            <!-- Footer -->
            <div class="modal-footer">
                <button type="submit" form="userForm" id="userModalSaveBtn" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Account.js"></script>
}


