@model StoreManagement.Models.ViewModel.Customer.CustomerPageViewModel
@{
    ViewData["Title"] = "Quản lý khách hàng";
}


<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold">Quản lý Khách hàng</h3>
    </div>

    <!-- Thanh lọc -->
    <div class="d-flex justify-content-between align-items-start mb-3 flex-wrap gap-2">
        <!-- Thanh lọc bên trái -->
        <div class="d-flex flex-wrap gap-2 align-items-center flex-grow-1">
            <!-- Ô tìm kiếm -->
            <div class="input-group input-group-sm" style="width: 300px;" id="searchContainer">
                <input type="text" id="searchInput" class="form-control" placeholder="Nhập tên, email, số điện thoại">
                <button class="btn btn-primary btn-search" type="button" title="Tìm kiếm" id="searchBtn">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <!-- Nút Thêm mới bên phải -->
        <button class="btn btn-primary btn-sm btn-add" data-bs-toggle="modal" data-bs-target="#customerModal">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </button>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered align-middle">
                    <thead class="table-light thead-separator ">
                    <tr class="text-center">
                        <th style="width:100px;">ID</th>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th style="width:150px;">Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="customerTableBody">
                        @if (Model.Customers != null && Model.Customers.Any())
                        {
                            foreach (var customer in Model.Customers)
                            {
                                <tr class="text-center">
                                    <td class="text-center">@customer.CustomerId</td>
                                    <td>@customer.Name</td>
                                    <td>@customer.Phone</td>
                                    <td>@customer.Email</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-light border me-1 btn-view" title="Xem"
                                                data-bs-toggle="modal"
                                                data-bs-target="#customerModal"
                                                data-id="@customer.CustomerId">
                                            <i class="bi bi-eye text-primary"></i>
                                        </button>
                                        <button class="btn btn-sm btn-light border me-1 btn-edit" title="Sửa"
                                                data-bs-toggle="modal"
                                                data-bs-target="#customerModal"
                                                data-id="@customer.CustomerId">
                                            <i class="bi bi-pencil text-success"></i>
                                        </button>
                                        <button class="btn btn-sm btn-light border btn-delete" title="Xóa"
                                                data-id="@customer.CustomerId">
                                            <i class="bi bi-trash text-danger"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">Không có dữ liệu</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Phân trang-->
            <div id="paginationContainer">
                @await Html.PartialAsync("Pagination", (object)Model)
            </div>
        </div>
    </div>
</div>

<!-- Modal dùng chung -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="customerModalTitle">Quản lý khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <form id="customerForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="customerId" name="customerId" value="0">
                    @* <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div> *@
                    <div class="mb-3">
                        <label class="form-label">Họ tên*</label>
                        <input type="text" class="form-control" id="fullname" name="Name">
                        <span class="text-danger"></span>
                        <small id="fullname-msg" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại*</label>
                        <input type="text" class="form-control" id="phonenumber" name="PhoneNumber">
                        <span class="text-danger"></span>
                        <small id="phonenumber-msg" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" id="customeremail" name="Email">
                        <span class="text-danger"></span>
                        <small id="customeremail-msg" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <textarea class="form-control" id="address" name="Address" rows="3"></textarea>
                        <span class="text-danger"></span>
                        <small id="address-msg" class="form-text text-danger"></small>
                    </div>
                </form>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="submit" form="customerForm" id="customerModalSaveBtn" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Customer.js"></script>
}


